---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import {Content} from '../content/home/index.md';
---

<Layout title="Welcome to Astro.">
   <Header activated_tab='home'/>
    <main class="bg-primary py-10 px-48 flex justify-center">
        <article class=" max-w-max text-white prose prose-lg prose-h2:text-white">
        <Content />
    </article>
    </main>
</Layout>
