---
import NavTab from "./NavTab.astro";
import { Content } from "../content/header.md";
import hero from "../images/hero.png";
import { Image } from "astro:assets";

interface Props {
    activated_tab: string;
}
const props: Props = Astro.props;
const tabs: {
    name: string;
    key: string;
    href?: string;
}[] = [
    {
        name: "Introduction",
        key: "intro",
    },
    {
        name: "Agenda",
        key: "agenda",
    },
    {
        name: "Organisers",
        key: "organisers",
    },
    {
        name: "Register",
        key: "register",
        href: "https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vP-Uj8nS6OdHvy7ftDnon0xURTNOUklLMjY2N1lBREFIUzhMUzBVOVZKUC4u",
    },
    {
        name: "Flyer",
        key: "flyer",
        href: "https://www.canva.com/design/DAF83v7vzvE/C-RvbCZOaMvnlLmnGTIl9g/view",
    },
];
---

<header class="w-full mt-10">
    <div class="relative bg-black flex justify-between">
        <div
            class="absolute top-0 left-10 min-h-full justify-begin pt-10 flex-grow
            flex flex-col
            prose
            prose-h1:text-6xl prose-h1:text-wrap prose-h1:text-white prose-h1:font-bold prose-h1:mb-10 
            prose-h2:text-3xl prose-h2:text-wrap prose-h2:text-white prose-h2:font-bold prose-h2:mt-0 prose-h2:min-w-96"
        >
            <Content />
        </div>
        <div class="absolute text-white right-10 bottom-28 font-bold text-2xl">
            <p>March 27th, 2024, 10:00 - 12:30, Online</p>
        </div>
        <Image src={hero} alt={""} />
    </div>
    <nav class="h-20 bg-secondary">
        <ul class="flex justify-center gap-5 items-center h-full">
            {
                tabs.map((tabProps) => (
                    <div class="flex justify-center">
                        <NavTab
                            name={tabProps.name}
                            key={tabProps.key}
                            href={tabProps.href || `./#${tabProps.key}`}
                            activated={props.activated_tab === tabProps.key}
                            newTab={tabProps.href !== undefined}
                        />
                    </div>
                ))
            }
        </ul>
    </nav>
</header>
