---
import { Image } from "astro:assets";
import Hero from "../images/hero.png";
import NavTab from "./NavTab.astro";
interface Props {
    activated_tab: string;
}
const props: Props = Astro.props;
const tabs: {
    name: string;
    key: string;
}[] = [
    {
        name: "Home",
        key: "home",
    },
    {
        name: "About",
        key: "about",
    },
    {
        name: "Contact",
        key: "contact",
    },
];
---

<header>
    <div class="relative">
        <Image src={Hero} alt="hero_img" loading={"eager"} />
        <h1
            class="absolute right-0 top-0 me-20 text-7xl text-wrap w-1/6 text-white font-bold"
        >
            Past Meets Future
        </h1>
        <h2
            class="absolute right-0 bottom-0 me-3 mb-2 text-4xl text-wrap w-1/4 text-white font-bold"
        >
            Can AI Personas Bring Historic Figures to ‘Life’?
        </h2>
    </div>
    <nav class="h-32 bg-gradient-to-b from-black to-primary">
        <ul class="flex justify-center items-center h-full">
            {
                tabs.map((tabProps) => (
                    <NavTab
                        name={tabProps.name}
                        key={tabProps.key}
                        href={`/${tabProps.key}`}
                        activated={props.activated_tab === tabProps.key}
                    />
                ))
            }
        </ul>
    </nav>
</header>
