---
interface Props {
    name: string;
    key: string;
    activated: boolean;
    href: string;
}
const props: Props = Astro.props;
---

<li>
    <a
        target="_blank"
        href={props.href}
        class={`text-white text-center text-2xl font-bold ${
            props.activated ? "border-b-2 border-white" : ""
        } hover:border-b-2`}
    >
        {props.name}
    </a>
</li>
